<phpunit
        bootstrap="tests/bootstrap.php"
        backupGlobals="true"
        backupStaticAttributes="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        syntaxCheck="false"
        processIsolation="true"
        colors="true">
    <testsuites>
        <testsuite name="Bun_Framework">
            <directory>.</directory>
        </testsuite>
    </testsuites>
</phpunit>